{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}联系我们 - IT校招求职圈{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">联系我们
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">首页</a>
                    </li>
                    <li class="active">联系</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <!-- 百度地图  -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://map.baidu.com/search/%E5%B9%BF%E4%B8%9C%E5%B7%A5%E4%B8%9A%E5%A4%A7%E5%AD%A6%E7%94%9F%E6%B4%BB%E5%8C%BA%E4%B8%9C%E5%8C%BA/@12623640.948093351,2621118.6877699997,17.91z?querytype=s&da_src=shareurl&wd=%E5%B9%BF%E4%B8%9C%E5%B7%A5%E4%B8%9A%E5%A4%A7%E5%AD%A6%E7%94%9F%E6%B4%BB%E5%8C%BA%E4%B8%9C%E5%8C%BA&c=257&src=0&pn=0&sug=0&l=17&b=(12623083.541980509,2620627.297280837;12624198.354206193,2621610.0782591626)&from=webmap&biz_forward=%7B%22scaler%22:1,%22styles%22:%22pl%22%7D&device_ratio=1"></iframe>
            </div>
            <div class="col-md-4">
                <h2>CONTACT US</h2>
                <p><i class="fa fa-weixin fa-lg"></i>
                    微信: GUO2659350920 </p>
                <p><i class="fa fa-phone fa-lg"></i>
                    &nbsp;电话: 13727654235</p>
                <p><i class="fa fa-envelope-o fa-lg"></i>
                    Github: <a href="https://github.com/GUOMIANRUI">GUOMIANRUI</a>
                </p>
                <p><i class="fa fa-clock-o fa-lg"></i>
                    &nbsp;咨询: 周一~五 早上9:00 - 下午 6:00 </p>
                <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    &nbsp;&nbsp;地址: 广东工业大学生活东区</p>
            </div>
        </div>
    <hr>
    </div>
{% endblock %}
